<!DOCTYPE html>
<html>
  <head>
    <style>
      html,
      body {
        font-family: Arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>

  <script type="text/javascript">
    window.appConfig = {
      debug: {% if env == 'development' %}true{% else %}false{% endif %},
      items: {{items | tojson}}
      //items: JSON.parse('{{items | tojson}}')
    }
  </script>


    <script
            type="text/javascript" src="{{ url_for('static', filename='googleapi.js') }}">
    </script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVClCN5Mh_V_NJZsYSD3QEb71Ex-XBn1E&v=3&callback=initMap">
    </script>

  </body>
</html>