<!DOCTYPE html>
<html>
  <head>
    <style>
      html,
      body {
        font-family: Arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div class="options-box">
      <h1>Find Your New NYC Home</h1>
      <div>
        <input id="show-listings" type="button" value="Show Listings">
        <input id="hide-listings" type="button" value="Hide Listings">
      </div>
    </div>
    <div id="map"></div>

  <script type="text/javascript">
    window.appConfig = {
      debug: {% if env == 'development' %}true{% else %}false{% endif %},
      items: {{items | tojson}}
      //items: JSON.parse('{{items | tojson}}')

    }
  </script>


    <script
            type="text/javascript" src="{{ url_for('static', filename='googleapi.js') }}">
    </script>

    <script async defer
        src={{"https://maps.googleapis.com/maps/api/js?key={}&v=3&callback=initMap".format(key)}}>
    </script>

  </body>
</html>